astropy==6.1.0
lxml==5.2.2
matplotlib==3.9.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
pymatgen==2024.5.1
PyQt6==6.7.0
PyQt6-Charts==6.7.0
PyQt6-DataVisualization==6.7.0
rawpy==0.21.0
scikit-learn==1.4.2
scipy==1.13.0
shapely==2.0.4
tqdm==4.66.4
urllib3==2.2.1
xlrd==2.0.1
